:root {
    --primary-red: hsl(356, 100%, 66%);
    --primary-light-red: hsl(355, 100%, 74%);
    --primary-dark-blue: hsl(208, 49%, 24%);

    --text-color: hsl(0, 0%, 100%);
    --footer-text-color: hsl(240, 2%, 79%);
    --body-copy-color: hsl(209, 12%, 34%);
    --footer-background-color: hsl(240, 10%, 16%);

    --background-red-gradient: hsl(13, 100%, 72%);
    --background-light-red-gradient: hsl(353, 100%, 62%);

    --background-intro-color: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);

    --background-body-blue: hsl(237, 17%, 21%);
    --background-body-desaturated-blue: hsl(237, 23%, 32%);

    --bg-body: linear-gradient(135deg, var(--background-body-blue) 0%, var(--background-body-desaturated-blue) 100%);

    --body-copy-font-size: 1rem;
    --body-copy-letter-spacing: 0.03125rem;
    --letter-spacing-headers: -0.075rem;

    --anchor-button-height: 3rem;
    --anchor-button-width: 8.5625rem;

    --page-padding-left: 10.25rem;
    --page-padding-right: var(--page-padding-left);

    --main-font: 'Overpass', sans-serif;
    --secondary-font: 'Ubuntu', sans-serif;

    --article-width: 33.75rem;
    --article-header-font-size: 1.75rem;

    --h1-infrastructure-font-size: 2.5rem;
    --h1-font-size: 1.75rem;

    --footer-height: 22.4375rem;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    color: var(--text-color);
}

.a {
    display: inline-block;
    color: var(--text-color);
    font-family: var(--main-font);
    text-decoration: none;
    cursor: pointer;
}

.li {
    opacity: 75%;
}

.h1 {
    font-size: var(--h1-font-size);
}

.a--rightNav,
.ul--leftNav,
.a--hero {
    font-weight: 600;
}

.section--intro {
    background-image: var(--background-intro-color);
    border-radius: 0px 0px 0px 6.25rem;
    overflow: hidden;
}

.block--wrapperIntro {
    height: 100%;
    width: 100%;
    background-image: url(./images/bg-pattern-intro-desktop.svg);
    background-position: 25% 52%;
    padding-bottom: 9.25rem;
}

.heading--intro {
    display: flex;
    gap: 4rem;
    padding: 3.55rem 10.25rem 8rem;
    align-items: center;
}

.section--hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block--hero {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.h1--hero {
    font-size: 4rem;
    letter-spacing: -0.12rem;
    line-height: 98px;
}

.ul {
    list-style: none;
}

.ul--leftNav,
.ul--rightNav {
    display: flex;
}

.svg--arrow {
    margin-left: .3rem;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
}


.a.whiteFilled {
    background-color: var(--text-color);
    color: var(--primary-red);
}

.li--rightNav:nth-child(2) {
    opacity: 100%;
}

.whiteFilled,
.whiteOutline {
    opacity: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width: var(--anchor-button-width);
    height: var(--anchor-button-height);
}

.whiteOutline {
    border: 1px solid var(--text-color);
}

.p {
    font-weight: 400;
    opacity: 75%;
}

.p--hero {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.ul--leftNav,
.ul--rightNav {
    align-items: center;
}

.ul--leftNav {
    gap: 2rem;
}

.ul--rightNav {
    gap: 2rem;
}


.section--productDesc {
    height: 63rem;
    overflow-x: hidden;
    padding-left: var(--page-padding-left);
    padding-top: 10rem;
    color: var(--primary-dark-blue);
    display: flex;
    position: relative;
}

.header--productDesc {
    padding-right: 20rem;
    width: 100vw;
}

.img--productDesc {
    position: absolute;
    right: -17rem;
    top: 4.5rem;
}

.article {
    width: var(--article-width);
}

.h1--infrastructure {
    font-size: var(--h1-infrastructure-font-size);
    letter-spacing: var(--letter-spacing-headers);
}

.h1--productDesc {
    letter-spacing: var(--letter-spacing-headers);
    font-size: var(--h1-infrastructure-font-size);
    text-align: center;
    margin-bottom: 6rem;
}

.article--technical:first-child>.p--technical,
.article--technicalCont:first-child>.p--technicalCont {
    margin-bottom: 4.5rem;
}

.article>.p {
    font-size: var(--body-copy);
    letter-spacing: var(--body-copy-letter-spacing);
    line-height: 175%;
}

.article--technical>.p {
    color: var(--body-copy-color);
}

.header-technical,
.heading--technicalCont {
    font-size: var(--article-header-font-size);
    margin-bottom: 1.5rem;
}

.section--infrastructure {
    background-image: var(--bg-body);
    border-radius: 0 6.25rem;
    height: 25rem;
}

.block--sectionWrapper {
    height: 100%;
    width: 100%;
    background-image: url("./images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: top 83% left -50%;
    position: relative;
}

.img--infrastructure {
    position: absolute;
    top: -4.5rem;
    left: 7.75rem;
}

.article--infrastructure {
    margin-left: 46rem;
    padding-top: 7.5rem;
}

.p--infrastructure {
    color: var(--text-color);
}

.h1--infrastructure {
    margin-bottom: .5rem;
}

.section--technicalCont {
    display: flex;
    position: relative;
    height: 63rem;
}

.img--technicalCont {
    position: absolute;
    top: 6rem;
    left: -17.5rem;
}

.block--rightTechnicalCont {
    margin-left: 45.75rem;
    padding-top: 18rem;
}

.h1--technicalCont {
    color: var(--primary-dark-blue);
    margin-bottom: 1.5rem;
}

.p--technicalCont {
    color: var(--body-copy-color);
}

.footer {
    background-color: var(--footer-background-color);
    border-radius: 0px 100px 0px 0px;
    height: var(--footer-height);
    padding-top: 4.5rem;
    padding-left: var(--page-padding-left);
    display: flex;
    gap: 12rem;
}

.h1--footer {
    font-size: var(--body-copy-font-size);
    margin-bottom: 2rem;
}

.li--footer {
    font-size: .9375rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 0rem 0rem 1rem 0rem;
}